*.0_x4 filter=lfs diff=lfs merge=lfs -text
db/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.25.0_x4 filter=lfs diff=lfs merge=lfs -text
terraform-provider-aws_v2.25.0_x4 filter=lfs diff=lfs merge=lfs -text
